@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Dosis&display=swap');

/* Common styles start */
body {
    font-family: 'Dosis', sans-serif;
    background-image: url(../images/harry-potter-hogwarts-homepage-background.jpeg);
    background-size:cover;
}

h1 {
    font-family: 'Barrio', cursive;
}

a {
    text-decoration: none;
    color: black;
}

.invisible {
    /* this is so that the invisible class overrides everything else */
    display: none !important;
}

/* Header & Nav styles start */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    list-style-type: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    display: flex;
    gap: 5px;
}
nav .active {
    border-bottom: 1px solid black;
}

/* Homepage style start */
#homepage-intro {
    text-align: center;
}


/*Quiz style start */
#quiz-questions-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    gap: 5px;
}
#current-question-label {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}


/* Wizard-form for homepage and quiz page*/
#wizard-details-form{
    display: flex;
    justify-content: center;
}
#start-quiz-button { 
    display: block;
    width: 100%;
    margin-top: 15px;
}