@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Dosis&display=swap');

/* Common styles start */
body {
    font-family: 'Dosis', sans-serif;
    background-image: url(../images/harry-potter-hogwarts-homepage-background.jpeg);
    background-size:cover;
}

h1 {
    font-family: 'Barrio', cursive;
}
h2 {
    font-size:30px;
}
h3 {
    font-size:25px
}

.invisible {
    /* this is so that the invisible class overrides everything else */
    display: none !important;
}

/* Header & Nav styles start */
header {
    font-family: 'Barrio', cursive;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Homepage style start */
#homepage-intro {
    text-align: center;
}


/*Quiz style start */
#quiz-questions {
    background-color: rgb(255 248 252 / 60%);
    margin:30px;
}
#quiz-questions-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#current-question-label {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
#question-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.question {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.25rem;
}

/* Rules section */
#rules-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255 248 252 / 60%);
    margin:30px;
}

#rules-section p {
    font-size: 1.25rem;
}


/* Wizard-form for homepage*/
#wizard-details-form{
    display: flex;
    justify-content: center;
}
#start-quiz-button { 
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 4px;
    font-size: 1rem;
}

#details-form {
    background-color:#f7eaf7;
    min-width: 400px;
    padding: 10px;
    border-radius: 4px;
}

#details-form label {
    display: block;
    margin-bottom: 4px;
    font-size: 1.25rem;
}

#details-form input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid black;
    margin-bottom: 4px;
    width: 100%;
    width: calc(100% - 16px);
}

/* this is the score section */
#user-score-section {
    background-color: rgb(255 248 252 / 60%);
    text-align: center;
    margin:30px;
}

/*media queries*/
@media screen and (max-width: 1300px) {
    /*homepage*/
    body {
        background-size: initial;
    }
    header {
        font-size: 35px;
    }
    #homepage-intro {
        margin: 50px;
    }
    /*quiz-rules-score*/
    #quiz-questions {
        padding: 10px; 
        margin: 250px;
    }
    #rules-section {
        margin: 200px;
        padding: 30px;
    }
    #user-score-section {
        margin: 300px;
        padding: 50px;
    }
}

@media screen and (max-width: 950px) {
    /*homepage*/
    header {
        font-size: 30px;
    }
    #homepage-intro {
        margin: 30px;
    }
    /*quiz-rules-score*/
    #quiz-questions {
        padding: 20px;
        margin: 150px;
    }
    #rules-section {
        margin: 150px;
        padding: 30px;
    }
    #user-score-section {
        margin: 150px;
        padding: 30px;
    }
    
}

@media screen and (max-width: 700px) {
    /*homepage*/
    header {
        font-size:25px;
    }
    /*quiz-rules-score*/
    #quiz-questions {
        padding: 20px;
        margin:10px;
    }
    #rules-section {
        margin: 80px;
        padding: 20px;
    }
    #user-score-section {
        margin: 100px;
        padding: 30px;
    }
}

@media screen and (max-width: 450px) {
    /*homepage*/
    header {
        font-size: 20px;
    }
    #homepage-intro {
        margin: 30px;
    }
    #details-form {
        min-width: 200px;
    }
    /*quiz-rules-score*/
    #quiz-questions {
        padding: 10px;
        margin: 15px;
    }
    #rules-section {
        margin: 30px;
        padding:10px;
    }
    #user-score-section {
        margin: 20px;
        padding: 20px;
    }

}